* {
    margin: 0;
    padding: 0;
}

body {
    
    background: white
}

#container {
    width: 450px;
    height: 650px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    padding: 100px;
    background: url('https://i.imgur.com/KTuya0e.png') no-repeat center;
}
    
h1 {
    margin-top: 33px;
    text-align: center;
    font-size: 25px;
}

h2{
    margin-left: 50px;
    font-size: 28px;
    font-weight: 900;
    color: rgb(206, 5, 5)
}

.carta {
    
    margin-left: 50px;
    margin-right: 30px;
    font-size: 19px;
    line-height: 1.2;
}

h3 {
    margin-left: 50px;
    font-size: 25px;
    color: rgb(206, 5, 5)
}
h4 {
    margin-top: 7px;
    margin-left: 50px;
    font-size: 20px;
    color: rgb(3, 3, 3)
}

#recado {
    width: 190px;
    margin-top: 15px;
    margin-left: 100px;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.0;
    float: left;
    
}

#botao {
    float: right;
    margin-top: 30px;
    margin-right: 40px;
    
}

a {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: #ff0000;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    padding: 10px 10px;    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
}
a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}